.service-provider-container {
  height: 100vh;
  box-sizing: border-box;
}
.navigation {
  height: 100vh;

  .ant-layout-sider {
    background-color: #1d1d1d;
    height: 100%;

    .ant-menu {
      background-color: #1d1d1d;
      color: #fff;
      height: 100%;

      .ant-menu-item {
        height: 50px;
        line-height: 50px;

        &:hover,
        &:focus {
          background-color: #2a2a2a;
        }

        &.ant-menu-item-selected {
          background-color: #1890ff;
        }
      }
    }
  }

  .header {
    background-color: #1d1d1d;
  }

  .index-content {
    background-color: #001716;
    padding: 0px;
    // overflow: 'auto';
  }

  .myinfo {
    font-size: 24px;
    font-weight: bold;
  }
}

.index-menu {
  position: relative;
}
.info {
  position: float;
  color: white;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
